#page_loading { position: fixed; height: 100%; width: 100%; left: 0; top: 0; background: #fff; z-index: 99999; opacity: 1; visibility: visible; transition: 0.3s; }
#page_loading.hide { opacity: 0; visibility: hidden; }
#page_loading img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }